<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/text.js"></script>
</head>
<body>
<div class="h1 text-center">信息浏览</div>
<div id="app">
    <table class="tle">
        <caption>
            <th v-for="num in captionArr">{{num}}</th>
        </caption>
        <tr v-for="item in dataAry">
            <td v-for="i in item" track-by="$index">{{i}}</td>
        </tr>
    </table>
    <div class="col-xs-12 div_nav">
        <div class="text-center">
            <button class="btn btn-default" v-on:click="prePage()"><</button>
            <template v-for="bt in pages" track-by="$index">
                <button class="li_btn" v-on:click="nowPage(bt-1)" v-bind:class="{a:bt==currentPage}">{{bt}}</button>
            </template>
            <button class="btn btn-default" v-on:click="nextPage()">></button>
            <span>前往至 <input type="text" class="txt_input" v-model="jumpPage" v-on:blur="demo()"/>页</span>
        </div>
    </div>
</div>
<script>
    var captionData = arrData[0];
    arrData = arrData.slice(1);
    new Vue({
        el: "#app",
        data: {
            captionArr: captionData,

            //剩余的数据
            arrData: arrData,

            pageSize: 7,

            dataAry: this.arrData.slice(0, 10),
            //定义当前的页数
            currentPage: 1,

            jumpPage: 1,
            //定义一页显示10条数据
            itemNum: 10,
            flag: false,
            a: "a"

        },
        computed: {
            totalPage: function () {
                return Math.ceil(this.arrData.length / this.itemNum);
            },
            pages: function () {
                var pageArr = [];
                if (this.totalPage <= this.pageSize) {
                    for (var i = 0; i < this.totalPage; i++) {
                        pageArr.push(i + 1);
                    }
                }
                else {
                    if (this.currentPage >= 5 && this.currentPage < this.totalPage - 4) {
                        pageArr = [1, '...', this.currentPage - 1, this.currentPage, this.currentPage + 1, '...'];
                        pageArr.push(this.totalPage);
                    }
                    else if (this.currentPage >= this.totalPage - 4) {
                        pageArr = [1, '...', this.totalPage - 4, this.totalPage - 3, this.totalPage - 2, this.totalPage - 1];
                        pageArr.push(this.totalPage);
                    }
                    else {
                        pageArr = [1, 2, 3, 4, 5, '...'];
                        pageArr.push(this.totalPage);
                    }
                }
                return pageArr;
            }
        },
        methods: {
            demo: function () {
                var reg = /^-?\d+$/;
                if (reg.test(this.jumpPage)) {
                    if (this.jumpPage > this.totalPage){
                        alert("请正确输入！");
                    }
                    if (this.jumpPage < 1){
                        alert("请正确输入！");
                    }
                    this.currentPage = parseInt(this.jumpPage);
                    this.dataAry = this.arrData.slice((this.currentPage - 1) * this.itemNum, (this.itemNum * this.currentPage));
                }
                else {
                    this.dialog({
                        type: "warn",
                        text: "warn"
                    })
                }
            },
            prePage: function () {
                this.currentPage--;
                if (this.currentPage <= 0) {
                    this.currentPage = 1;
                }
                else {
                    this.dataAry = this.arrData.slice((this.currentPage - 1) * this.itemNum, (this.itemNum * this.currentPage));
                }
            },
            nextPage: function () {
                this.currentPage++;
                if (this.currentPage > this.totalPage) {
                    this.currentPage = this.totalPage;
                    return;
                } else {
                    this.dataAry = this.arrData.slice((this.currentPage - 1) * this.itemNum, (this.itemNum * this.currentPage));
                }
            },
            nowPage: function (t) {
                var reg = /^-?\d+$/;
                if (reg.test(t)) {
                    this.currentPage = t + 1;
                    if (this.currentPage > this.totalPage) {
                        this.currentPage = this.totalPage;
                        return;
                    } else {
                        this.dataAry = this.arrData.slice((this.currentPage - 1) * this.itemNum, (this.itemNum * this.currentPage));
                    }
                }
                this.changeIndexStyle()
            },
            changeIndexStyle: function () {
                this.flag = !this.flag;
                console.log(this.flag)
            },
            dialog: function (obj) {
                var type = obj.type || "info";
                var text = obj.text || "info";
                var test = "";
                switch (type) {
                    case "warn":
                        test = text;
                        break;
                    case "error":
                        test = text;
                        break;
                    case "info":
                        test = text;
                        break;
                    case "log":
                        test = text;
                        break;
                    default :
                        test = "404";
                }
                var dialog = document.createElement("div");
                var mask = document.createElement("div");
                var clientH = document.body.offsetHeight;
                var clientW = document.body.offsetWidth;

                dialog.className = "dialog";
                mask.className = "mask";
                mask.style.height = clientH + "px";
                mask.style.width = clientW + "px";
                window.onresize = function () {
                    var clientH = document.body.offsetHeight;
                    var clientW = document.body.offsetWidth;
                    mask.style.height = clientH + "px";
                    mask.style.width = clientW + "px";
                };
                dialog.innerHTML = test;
                mask.appendChild(dialog);
                document.body.appendChild(mask);
                mask.onclick = function () {
                    document.body.removeChild(mask);
                }
            }
        }
    });
</script>
</body>
</html>